{% extends 'base.html' %}

{% block head %}
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
{% endblock %}

{% block body %}
	
<nav class="navtop">
	<div>
		<h1>DSPharmacy</h1>
		<a href="{{ url_for('index') }}"><i class="fas fa-home"></i>Αρχική</a>
		<a href="{{ url_for('cart') }}"><i class="fas fa-shopping-cart"></i></i>Καλάθι</a>
        <a href="{{ url_for('orderHistory') }}"><i class="fas fa-history"></i></i>Ιστορικό παραγγελιών</a>
		<a href="{{ url_for('deluser') }}"><i class="fas fa-user-times"></i></i>Διαγραφή Χρήστη</a>
		<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Αποσύνδεση</a>
	</div>
</nav>
<div class="content">
		<div class="md-form mt-0" >
			{% if history == [] %}
			<a href="{{url_for('index') }}">Δεν έχετε εκτελέσει καμία παραγγελία</a>
			{% endif %}            
			{% for x in history %}
                <h1 class='display-3'> Αρχή παραγγελίας<br></h1>
				{% for i in x %} 
                <div class="container">
					<h2 class='display-3'>{{i['name']}}<br></h2>
					<h4> Description: {{i['description']}} <br> Category: {{i['category']}}<br> Id: {{i['_id']}} <br> Price: {{i['price']}}€  <br></h4> <br>
                </div>	
                {% endfor %}
				<h1 class='display-3'> Τέλος Παραγγελίας <br></h1>
                <hr><hr>	
			{% endfor %}
		</div>
</div>	
{% endblock %}