{% extends 'base.html' %}

{% block head %}
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
{% endblock %}

{% block body %}
	
<nav class="navtop">
	<div>
		<a href="{{ url_for('admin') }}"><h2>Admin Panel</h2></a>
		<a href="{{ url_for('addprod') }}"><i class="fas fa-plus-circle"></i></i></i>Προσθήκη προϊοντων</a>
		<a href="{{ url_for('delprod') }}"><i class="fas fa-minus-circle"></i></i>Διαγραφή Προϊοντων</a>
        <a href="{{ url_for('updateprod') }}"><i class="fas fa-edit"></i></i>Διαχείριση προϊόντων</a>
		<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Αποσύνδεση</a>
	</div>
</nav>
<div class="content">
		<div class="md-form mt-0" >
			<h1>Ενημέρωση Προϊόντων</h1>
			<form action="{{ url_for('updateprod') }}" method="post">
				<input type="text" name="id" placeholder="ID" id="id" required>
                <input type="submit" value="Αναζήτηση στην Βάση">
			</form>
			{% for x in prod %}
				<div class="container">
				<h2 class='display-3'>{{x['name']}}<br></h2>
            	<h4><br> Id: {{x['_id']}}<br></h4>
				</div>				
			{% endfor %}
		</div>
	
</div>
	
{% endblock %}